body{
    margin: 0;
    padding: 0;
    background-color: rgb(244, 245, 229); 
    min-height: 100%; 
}

/* -----------HEADER------------- */

header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    background-color: rgb(208, 211, 152);    
}

h4 {
    font-weight: 100;
    font-size: 18px;
    color: rgb(60, 87, 60);
}

.login {
    margin-right: 5%;
}

.logo-title {
    display: flex;
    align-items: center;    
    font-weight: 100;
    color: rgb(60, 87, 60);
}

.add-book,
.login {
    display: flex;
    align-items: center;    
}

.image-book {
    height: 40px;
    margin-right: 8px;
}

.button-add-book,
.button-login {
    cursor: pointer;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 8px;   
    height: 30px;
    width:  30px;    
}

.button-add-book {   
    background-image: url("images/book-plus.svg");   
}

.button-login {   
    background-image: url("images/login.svg");    
}

.button-add-book:hover {
    background-image: url("images/book-plus-hover.svg");
}

.button-login:hover {
    background-image: url("images/login-hover.svg");
}
 
/* ---------------MAIN------------------ */

main {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    justify-items: center;          
}

/* -------------MODAL FORM---------------- */

.modal {  
    border: none;
    position: fixed;   
    top: 0;    
    background-color: rgb(240, 241, 216);  
    margin-top: 20vh;
    width: 300px;
    text-align: center; 
    border-radius: 8px;    
}

.form-add-book {
    display: flex;
    flex-direction: column;   
    padding: 20px; 
    gap: 20px;  
}

.form-input {
    border: none;
    outline: none;  
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
}

.button-submit-form {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(208, 211, 152);
    padding: 8px 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.button-submit-form:hover {
    filter: brightness(96%);
}

.error {
    color: red;
    font-weight: 100;    
}

h3 {  
    margin: 0;
} 

/* --------------TABLE-CONTENT-------------- */

.book-title {   
    width: 100px;
    overflow-wrap: break-word;  
}

.button-status {
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    
}

.button-remove {
    cursor: pointer;
    border: none;
    background-image: url("images/bin.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    height: 20px;
    width:  20px;   
}

.read {
    color: green;
}

.not-read {
    color: red;
}

/* .green {
    color: green;
} */

/* --------------TABLE----------------  */

table {
    border-collapse: collapse;
    margin-top: 50px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
} 

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color:rgb(240, 241, 216);
}

table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(208, 211, 152);
}

.table-header-pages, 
.table-header-status, 
.table-header-remove {
    text-align: center;   
}

.table-header-title,
.table-header-author {
    text-align: left;
}

.table-header-title {
    width: 240px;
    max-width: 240px;
    word-wrap: break-word;    
}

.table-header-author {
    width: 140px;
    max-width: 140px;
    word-wrap: break-word;    
}

.table-header-status {
    width: 80px;
}




